<%- include('header') %>
  <body>
    <h1><%= title %></h1>
    <p>David is a video game nerd and resident family tech support,
      currently going to college wile living at home.</p>
    <p>He has had trouble in the past juggling between work, university, and
      living autonomously. However he still yearns to live on his own.</p>
  </body>
</html>
