<%- include('header') %>
  <body>
    <h1><%= title %></h1>
    <p>Diana is a highly experienced HR executive, having spend decades at IBM
    before moving on to work on General Elctrics pensions and benefits. She is
  the family breadwinner and often works way more than one might deem healthy.</p>
  </body>
</html>
