<%- include('header') %>
  <body>
    <h1><%= title %></h1>
    <p>Don is an industrious handyman masquerading as a stay at home dad. He
      is currently juggling more projects than he can count after finishing
      the last touches on the new roof he put on the cottage.</p>
  </body>
</html>
