<%- include('header') %>
    <h1><%= title %></h1>
    <p>Shane is an exitable little boy who just entered grade 1. He loves just
      about everything you'd expect of a 6 year old and continues to excell far
      beyond his peers.</p>
  </body>
</html>
