<%- include('header') %>
    <h1><%= title %></h1>
    <p>Steph is a part time inventory counter and full time mother. She lives
    in Barrie with her 6 year old son and her current boyfriend.</p>
  </body>
</html>
