<%- include('header') %>
  <body>
    <h1><%= title %></h1>
    <p>Steph is a full time mother and part time inventory counter. She lives
    in Barrie with her 6 year old son and her current boyfriend.</p>
  </body>
</html>
